@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
}
